<%-# Header starts -%>
<div class="row gap">
	<div class="col-6">
		<nav aria-label="breadcrumb" role="navigation">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><%= link_to "Surveys", pages_questionshome_path %></li>
							    <li class="breadcrumb-item active" aria-current="page">Settings</li>
		  </ol>
		</nav>
	</div>
	<div class="col-6">
		<div class="float-right">
			
		</div>
	</div>
</div>
<%-# Header ends -%>

<%-# Separator -%>




<div class="card">
  <div class="card-body">
  	<div class="row gap">
	        		<div class="col-8">
	        			<div class="float-left">
	        				
							  <h5 class="text-muted">Employee Engagement
							  </h5>

	        			</div>
	        		</div>
	        		<div class="col-4">
						<div class="float-right">
							<button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalLong">
  Send test survey
</button>
													</div>
					</div>
				</div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
	  <li class="nav-item large">
	    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Survey setup</a>
	  </li>
	  <li class="nav-item large">
	    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reminders & notifications</a>
	  </li>
	  <li class="nav-item large">
	    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Emails</a>
	  </li>
	</ul>


	<div class="tab-content" id="myTabContent">
<%-# Tab 1 begins -%>
	  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
	  	<div class="row">
	        <div class="col-7">
	        	<br>
	        	<form>
				  <div class="form-group">
				    <label for="exampleFormControlInput1"><b>Which team(s) would you like to send the pulse survey to?</b></label>
				    <input type="text" class="form-control" id="" placeholder="">
				  </div>
				</form>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-7">
	        	<label for="exampleFormControlInput1"><b>How often would you like to send the surveys?</b></label>
	        	<form class="form-inline">
				    <div class="form-check">
				        <input class="form-check-input" name="group20" type="radio" id="radio120" checked="checked">
				        <label class="form-check-label" for="radio120">Every week <span class="badge badge-light">Recommended</span> </label>
				    </div>

				    <div class="form-check">
				        <input class="form-check-input" name="group20" type="radio" id="radio121">
				        <label class="form-check-label" for="radio121">Every two weeks </label>
				    </div>

				    <div class="form-check">
				        <input class="form-check-input" name="group20" type="radio" id="radio122">
				        <label class="form-check-label" for="radio122">Every month </label>
				    </div>
				</form>
				<p class="text-muted small 2">We'll send 5 quick questions each week, great for an up-to-date view of the health of your organisation</p>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-7">
	        	<label for="exampleFormControlInput1"><b>Which day would you like to send the surveys on?</b></label>
	        	<form class="form-inline">
				    <div class="form-check">
				        <input class="form-check-input" name="group20" type="radio" id="radio120" checked="checked">
				        <label class="form-check-label" for="radio120">Mon </label>
				    </div>

				    <div class="form-check">
				        <input class="form-check-input" name="group20" type="radio" id="radio121">
				        <label class="form-check-label" for="radio121">Tue </label>
				    </div>

				    <div class="form-check">
				        <input class="form-check-input" name="group20" type="radio" id="radio122">
				        <label class="form-check-label" for="radio122">Wed </label>
				    </div>

				    <div class="form-check">
				        <input class="form-check-input" name="group20" type="radio" id="radio122">
				        <label class="form-check-label" for="radio122">Thu </label>
				    </div>

				    <div class="form-check">
				        <input class="form-check-input" name="group20" type="radio" id="radio122">
				        <label class="form-check-label" for="radio122">Fri </label>
				    </div>
				</form>
				<p class="text-muted small 2">We'll always send your surveys at 2.00pm as we typically find there's a higher response rate in the afternoon</p>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-7">
	    	<hr>
	    </div>
		</div>
	    <div class="row">
	        <div class="col-7">
		        <form class="form-inline">
		        	<div class="form-check">
					  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
					  <label class="form-check-label" for="defaultCheck1">
					    <b>Measure eNPS?</b>
					  </label>
					</div>
				</form>
	        </div>
	    </div>
	    <br>
	    <div class="row">
	        <div class="col-7">
	        	<label for="exampleFormControlInput1"><b>How often would you like to measure eNPS?</b></label>
	        	<form class="form-inline">
				    <div class="form-check">
				        <input class="form-check-input" name="group20" type="radio" id="radio120" checked="checked">
				        <label class="form-check-label" for="radio120">Every 4 weeks </label>
				    </div>

				    <div class="form-check">
				        <input class="form-check-input" name="group20" type="radio" id="radio121">
				        <label class="form-check-label" for="radio121">Every 12 weeks <span class="badge badge-light">Recommended</span></label>
				    </div>
				</form>
				<p class="text-muted small 2">Every 4 weeks, we'll include the eNPS question "I would recommend {{Tenant}} as a place to work" so you can track your eNPS score over time</p>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-7">
	    		<hr>
	    	</div>
		</div>
	    <div class="row">
	        <div class="col-7">
	        	<form>
				  <div class="form-group">
				    <label for="exampleFormControlInput1"><b>Your company name</b></label>
				    <input type="text" class="form-control" id="" placeholder="Default to what we think their company name is">
				  </div>
				</form>
				<p class="text-muted small">In some of the questions, we'll include your company name. Just double check we've formatted it correctly above. e.g I am familiar with and understand the mission of {{Tenant}}</p>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-7">
	    		<hr>
	    	</div>
		</div>
		<div class="row">
	        <div class="col-7">
		        <form class="form-inline">
		        	<div class="form-check">
					  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
					  <label class="form-check-label" for="defaultCheck1">
					    <b>Include link to the action board?</b>
					  </label>
					</div>
				</form>
				<p class="text-muted small">This will mean that the action board is available at the end of every survey, so you can demonstrate the impact of everyones feedback.</p>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-7">
	        	<button type="button" class="btn btn-warning float-right">Save</button>
	        </div>
	    </div>





		</div>
	  



<%-# Tab 1 ends -%>
<%-# Tab 2 begins -%>
	  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
	  	<br>
	  	<div class="row">
	        <div class="col-7">
	        	<label for="exampleFormControlInput1"><b>Shall we send a reminder email to your staff if they haven't completed their survey?</b></label>
	        	<form class="form-inline">
				    <div class="form-check">
				        <input class="form-check-input" name="group20" type="radio" id="radio120" checked="checked">
				        <label class="form-check-label" for="radio120">Never </label>
				    </div>

				    <div class="form-check">
				        <input class="form-check-input" name="group20" type="radio" id="radio121">
				        <label class="form-check-label" for="radio121">After 3 days </label>
				    </div>
				</form>
				<p class="text-muted small 2">If someone hasn't completed their survey yet, we'll send them a friendly follow up email. This will help improve your response rate.</p>
	        </div>
	    </div>

	    <div class="row">
	        <div class="col-7">
	    		<hr>
	    	</div>
		</div>

	    <div class="row">
	        <div class="col-7">
	        	<label for="exampleFormControlInput1"><b>We know you're busy. We'll send you a reminder email 24 hours before a pulse survey is about to run, incase you want to change any settings.</b></label>
	        	<form class="form-inline">
				    <div class="form-check">
				        <input class="form-check-input" name="group20" type="radio" id="radio120" checked="checked">
				        <label class="form-check-label" for="radio120">No thanks </label>
				    </div>

				    <div class="form-check">
				        <input class="form-check-input" name="group20" type="radio" id="radio121">
				        <label class="form-check-label" for="radio121">Yes please </label>
				    </div>
				</form>
				<p class="text-muted small 2">This email will only be sent to you and any other colleagues that you might want notified</p>
	        </div>
	    </div>

	     <div class="row">
	        <div class="col-7">
	        	<label for="exampleFormControlInput1"><b>To give you the confidence the survey schedule is working as expected, we'll send you an email notification to let you know when they've been successfully triggered.</b></label>
	        	<form class="form-inline">
				    <div class="form-check">
				        <input class="form-check-input" name="group20" type="radio" id="radio120" checked="checked">
				        <label class="form-check-label" for="radio120">No need, I trust you</label>
				    </div>

				    <div class="form-check">
				        <input class="form-check-input" name="group20" type="radio" id="radio121">
				        <label class="form-check-label" for="radio121">Yes please </label>
				    </div>
				</form>
				<p class="text-muted small 2">This email will only be sent to you and any other colleagues that you might want notified</p>
	        </div>
	    </div>

	    <div class="row">
	        <div class="col-7">
	        	<form>
				  <div class="form-group">
				    <label for="exampleFormControlInput1"><b>Which email address(es) would you like to receive the notification emails to?</b></label>
				    <input type="text" class="form-control" id="" placeholder="">
				  </div>
				</form>
				<p class="text-muted small">Just let us know your email address and any other admins that may want to be kept in the loop too</p>
	        </div>
	    </div>

	    <div class="row">
	        <div class="col-7">
	        	<button type="button" class="btn btn-warning float-right">Save</button>
	        </div>
	    </div>




	  </div>
<%-# Tab 2 ends -%>
<%-# Tab 3 begins -%>
	  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
	  	<div class="row">
	        <div class="col-7">
	        	<br>
	        	<form>
				  <div class="form-group">
				    <label for="exampleFormControlInput1"><b>Choose your default email address</b></label>
				    <input type="text" class="form-control" id="" value="Defaulttostandardemail@insights.com">
				  </div>
				</form>
				<p class="text-muted small">When pulse surveys are sent out, this will be the email address your staff receive them from. We find using one of your company leaders' name helps achieve a higher response rate.</p>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-7">
	        	<form>
				  <div class="form-group">
				    <label for="exampleFormControlInput1"><b>Choose your default send from name</b></label>
				    <input type="text" class="form-control" id="" value="Shaun Bradley">
				  </div>
				</form>
				<p class="text-muted small">When pulse surveys are sent out, this will be the name your staff receive them from. We find using one of your company leaders' name helps achieve a higher response rate.</p>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-7">
	    		<hr>
	    	</div>
		</div>
		<div class="row">
	        <div class="col-7">
	        	<h3>Survey Email Copy</h3>
	        	<br>
	        	<form>
				  <div class="form-group">
				    <label for="exampleFormControlInput1"><b>Subject Line</b></label>
				    <input type="text" class="form-control" id="" value="It's time to give your feedback">
				  </div>
				</form>
				<div class="form-group">
				    <label for="exampleFormControlTextarea1"><b>Body</b></label>
				    <textarea class="form-control"  rows="3" value="Hey, we'd love your feedback... Have your say and help us create a work environment
we're all proud to be part of!"></textarea>
				  </div>
				<p class="text-muted small">This will be the email that your staff receive before answering their surveys. Feel free to add your own unique message to it. Make sure you let them know why you want them to answer the survey.</p>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-7">
	    		<hr>
	    	</div>
		</div>
	    <div class="row">
	        <div class="col-7">
	        	<h3>Reminder Email Copy</h3>
	        	<br>
	        	<form>
				  <div class="form-group">
				    <label for="exampleFormControlInput1"><b>Subject Line</b></label>
				    <input type="text" class="form-control" id="" value="Just a quick reminder">
				  </div>
				</form>
				<div class="form-group">
				    <label for="exampleFormControlTextarea1"><b>Body</b></label>
				    <textarea class="form-control"  rows="3" value="Hey, we'd love your feedback... Have your say and help us create a work environment
we're all proud to be part of!"></textarea>
				  </div>
				<p class="text-muted small">This will be the email that your staff receive to prompt them to answer the surey if they happened to have missed it in their inbox.</p>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-7">
	        	<button type="button" class="btn btn-warning float-right">Save</button>
	        </div>
	    </div>
	  </div>
<%-# Tab 3 ends -%>
	</div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send test survey</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="form-group">
		    <label for="exampleFormControlSelect1">Enter email address</label>
		    
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="youremail@insights.com">

		 </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Send test email</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send test survey</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="form-group">
		    <label for="exampleFormControlSelect1">Enter email address</label>
		    
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="youremail@insights.com">

		 </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Send test email</button>
      </div>
    </div>
  </div>
</div>	